<h1><%= @user.first_name.possessive %> Page</h1>
<div class="row">
	<div class="large-12 large-centered columns">
		<ul class="accordion" data-accordion>
		  <li class="accordion-navigation">
		    <a href="#panel1a">My Info</a>
		    <div id="panel1a" class="content active">
		    	Your account was created on <%= @user.created_at %><br>
		    	<%= link_to "Edit My Info", edit_user_registration_path %>
		    </div>
		  </li>
		  <li class="accordion-navigation">
		    <a href="#panel2a">Upcoming Appointments</a>
		    <div id="panel2a" class="content">
		    	<% if @user.appointments.size > 0 %>
		      		<%= @user.appointments.last.appointment_time %>
		      	<% end %>
		      <%= link_to "Schedule An Appointment", new_appointment_path %>
		    </div>
		  </li>
		  <li class="accordion-navigation">
		    <a href="#panel3a">Accordion 3</a>
		    <div id="panel3a" class="content">
		      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    </div>
		  </li>
		</ul>
	</div>
</div>
