      <div class="row">
        <div class="small-12 medium-9 large-6 columns">
          <ul class="button-group">
          <li><a href="#" class="button"><i class="fi-home"></i></a></li>
          <li><a href="#" class="button"><i class="fi-telephone"></i></a></li>
          <li><a href="#" class="button"><i class="fi-compass"></i></a></li>
          </ul>
         </div>
       </div>
      
     
     
     
     
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <div class="slider">
          <div><%= image_tag "mis_stock_images/car-wind.jpg" %></div>
          <div><%= image_tag "mis_stock_images/urban-leeroy.jpg" %></div>
          <div><%= image_tag "mis_stock_images/woman-juliacaesar.jpg" %></div>
        </div>
        
        <hr/>
        </div>
      </div>
      
     
     
      <div class="row">
        <div class="medium-4 large-4 columns">
          <%= image_tag "mis_stock_images/szolkin.jpg" %>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="medium-4 large-4 columns">
          <%= image_tag "mis_stock_images/urban-leeroy.jpg" %>          
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="medium-4 large-4 columns">
          <%= image_tag "mis_stock_images/woman-juliacaesar.jpg" %>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <%= link_to "Contact Us", welcome_contact_path, class: "radius button right" %>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      
