<h2>Forgot your password?</h2>
<div class="row">

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
	<div class="large-12 columns">
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>
	</div>
	<div class="large-12 columns">
	  <div class="actions">
	    <%= f.submit "Send me reset password instructions", :class => "medium button success" %>
	  </div>
	</div>
	<% end %>

</div>
<%= render "users/shared/links" %>
