<% if @appointment.errors.any? %>
  <div class="row">
    <div class="large-12 columns">
      <div data-alert class="alert-box alert radius">
        <h4>
          <%= pluralize(@appointment.errors.count, "error") %> must be corrected to schedule this appointment:
        </h4>
        <ul>
          <% @appointment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @appointment do |f| %>

  <div class="row">
    <div class="large-12 large-centered columns">
      <%= f.label :appointment_type %><br>
      <%= f.text_field :appointment_type %><br>
    </div>

    <div class="large-12 large-centered columns">
      <%= f.submit "Submit", :class => "medium button success" %>
    </div>
  </div>
<% end %>

<script>
  jQuery('#datetimepicker').datetimepicker({
    format:'D M Y h:m a',
    formatTime:'h:m a',
  });
</script>